@keyframes fadein {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

/* Hide everything */
.todo, .pomodoro, .music {
    opacity: 0;
}

.todo {
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.pomodoro {
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.music {
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}