@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
    --spotify-green: rgb(30, 215, 96);
    --spotify-black: rgb(18, 18, 18);
}

* {
    margin: 0;
    font-family: "Rubik";
    box-sizing: border-box;
}

.todo {
    background-color: #222222;

    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    float: left;
    padding: 5%;
    margin: 0;

    color: white;

    /* Set to scroll later */
    overflow-y: hidden;
}

.music {
    background-color: rgb(255, 255, 255);
    
    width: 50vw;
    height: 50vh;
    top: 0;
    left: 0;
    float: right;
    
    padding: 0.5%;
}

.pomodoro {
    background-color: rgb(86, 86, 86);
    
    width: 50vw;
    height: 50vh;
    top: 0;
    left: 0;
    float: right;
    
    text-align: center;
    padding: 2.5%;
    margin: 0;
    color: white;
}

.cls {
	clear: both;
}

h1 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    text-align: center;
} button:hover {
    cursor: pointer;
}

input[type=text] {
    width: 300px;
}

a:link {
    text-decoration: none;
} a:visited {
    text-decoration: none;
}