button:hover { 
    cursor: pointer;
}

button:active:not(#play-pause) {
    box-shadow:  7px 6px 14px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

/* Task buttons */
#task-add:hover {
    background-color: rgb(240, 62, 39);
    color: white;
} #task-clear-done:hover {
    background-color: rgb(11, 170, 24);
    color: white
} #task-clear-all:hover {
    background-color: rgb(192, 192, 36);
    color: white;
}

/* Timer Duration */
#study-timer:hover {
    background-color: rgb(0, 132, 255);
    color: white
} #break-timer-short:hover {
    background-color: rgb(141, 80, 211);
    color: white
} #break-timer-long:hover {
    background-color: rgb(207, 113, 24);
    color: white;
}

/* Spotify Login */
#spotify-login:hover {
    background-color: rgb(12, 206, 60);
}