@media only screen and (max-width: 1500px) {
    /* .app-container {
        flex-direction: column;
    }

    .todo, .pomodoro, .music {
        width: 100vw;
        height: min-content;
    }

    html {
        overflow-y: scroll
    } */

    html {
        display: none;
    }
}