.player {
    background-color: var(--spotify-black);
    height: 100%;
    border-radius: 15px;
    padding: 5%;
    color: white;
    position: relative;
}

#spotify_login {
    background-color: var(--spotify-green);
    padding: 3% 5%;
    font-weight: bold;
    border-radius: 15px;
} #spotify_login:hover {
    text-decoration: underline;
}

#connect_icon {
    margin-left: 10px;
    margin-right: 6px;
    padding: 0;
    height: 15px;
    width: 16px;
    fill: white;
}

#connected {
    margin: 0;
}

.player_connected {
    position: absolute;
    top: 70%;
}

@media only screen and (max-width: 500px) {
    .player {
        padding-top: 20%;
    }
}