.now-playing__cover {
    border-radius: 15px;
    height: 20%;
    width: 20%;
}

.btn-spotify {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    background-color: var(--spotify-black);
}

input[type=range]::-webkit-slider-thumb::before  {
    background-color: red;
    border-radius: 15px;
    height: 10px;
}