.spotify-main-wrapper {
    padding: 3.5rem 3rem;
    position: relative;
}

/* Cover Art */
.now-playing__cover {
    border-radius: 1rem;
    border: 0.3rem white solid;
    height: 15rem;
    width: 15rem;
    float: left;
}

.now-playing__side {
    padding-left: 2rem;
}

.song-info {
    color: white;
}

/* Track name */
.now-playing__name {
    font-size: 2.5rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 3.5rem;
}

/* Artist Name */
.now-playing__artist {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    height: 2rem;
    margin-bottom: 5rem;
}

#play-pause {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: white;
    margin: 0 1rem;
} #change-track {
    color: white;
    background-color: transparent;
    border: none;
}

.volume-slider {
    height: 2rem;
    margin-top: 1rem;
} .volume-slider > input[type="range"]{
    width: 7rem;
    margin-right: 1rem;
}

#spotify-icon { 
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

.buttons {
    margin-right: 4rem;
}