.session_counter {
    margin-bottom: 5%;
}

.timer_buttons_presets {
    margin-top: 5%;
}

.btn_grp {
    display: inline-block;
    margin-right: 10%;
    margin-bottom: 5%;
} .btn_grp:last-child {
    margin-right: 0%;
}

.btn_grp button {

}