.pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

/* Header and timer and button label colour */
#session-counter, #timer-countdown, #timer-label {
    color: white;
} #session-counter {
    font-size: 2.5rem;
}

/* Timer configurations */
.timer-btn-presets {
    display: flex;
    gap: 5rem;
    align-items: center;
    text-align: center;
} .btn-grp {
    width: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
} .btn-grp > button {
    padding: 0.3rem 0.1rem;
} .btn-grp > label {
    font-size: 1.45rem;
}

/* Start, clear buttons */
.timer-ctrl {
    display: flex;
    gap: 2rem;
} .timer-ctrl > button {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
}

/* Start-Pause button */
#timer-start-pause {
    width: 5rem;
}