.pomodoro {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
} .pomodoro > div {
    min-width: 0;
    min-height: 0;
}

.timer_btn_presets {
    display: flex;
} .timer_btn_presets > div {
    flex: 1;
}

.timer_ctrl {
    padding-top: 5vh;
} .timer_ctrl > div {
}.timer_ctrl button {
    padding: 0;
} .timer_ctrl button:last-child {
}

#timer-countdown {
    margin: 5vh 0;
}