.pomodoro {
    /* display: flex;
    flex-direction: column; */
    padding-top: 3vh;
    background-image: url("../resources/background.jpg");
} /*.pomodoro > div {
    min-width: 0;
    min-height: 0;
} */

#border {
    background-color: rgba(0, 0, 0, 0.69);
    border-radius: 1rem;
}

.timer-btn-presets {
    display: flex;
} .timer-btn-presets > div {
    flex: 1;
}

#timer-label {
    font-size: 1rem;
}

.timer-ctrl {
    padding-top: 5vh;
} .timer-ctrl button {
    padding: 0;
    margin-right: 3%;
} .timer-ctrl button:last-child {
    margin-right: 0;
}

#timer-countdown {
    margin: 5vh 0;
}

/* Timer presets */
.btn-grp > button {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 2%;
}

/* Timer start/pause and clear */
.timer-ctrl > button {
    font-size: 1rem;
    padding: 1%;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 0.5rem;
}